{% extends "base.html" %}

{% block title%}Exquisitor - Not Found{% endblock %}

{% block header %}
    <style>
        .error {
            text-align: center;
        }
        .error-code {
            font-size: 100px;
        }

        .error-message {
            font-size: 20px;
            opacity: 0.7;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="error">
        <div class="error-code">{{ code.as_u16() }}</div>
        <div class="error-message">{{ message }}</div>
    </div>
{% endblock %}