{% extends "base.html" %}

{% block title%}Exquisitor - Home{% endblock %}

{% block header %}
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/assets/index.css">
{% endblock %}

{% block content %}
    <div class="search-bar">
        <form method="GET" action="/search">
            <input name="query" type="text" class="search" placeholder="Experiment identifier or name"/>
            <button type="submit" class="btn btn-blue">Search</button>
        </form>
    </div>

    <div class="last">
        <h1>Last experiments</h1>

        <div class="experiments-header">
            <div>Id</div>
            <div>Name</div>
            <div>Status</div>
        </div>

        {% for experiment in experiments %}
        <a class="experiment" href="/experiment/{{experiment.experiment_id}}">
            <div>#{{ experiment.experiment_id }}</div>
            <div class="experiment-name">{{ experiment.name }}</div>
            <div>{{ experiment.status }}</div>
        </a>
        {% endfor %}
    </div>
{% endblock %}