<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>Exquisitor</title>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Stylesheet -->
        <link rel="stylesheet" href="/assets/main.css">
    </head>
    <body>
        <div class="header">Exquisitor</div>

        <div class="content">
            <div class="search-bar">
                <form method="GET" action="/search">
                    <input name="query" type="text" class="search" placeholder="Experiment identifier"/>
                    <button type="submit" class="btn">Search</button>
                </form>
            </div>

            <div class="last">
                <h1>Last experiments</h1>

                <div class="experiments-header">
                    <div>Id</div>
                    <div>Name</div>
                    <div>Status</div>
                </div>

                {% for experiment in experiments %}
                <a class="experiment" href="/experiment/{{experiment.experiment_id}}">
                    <div>#{{ experiment.experiment_id }}</div>
                    <div class="experiment-name">{{ experiment.name }}</div>
                    <div>{{ experiment.status }}</div>
                </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
