<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>Exquisitor</title>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Stylesheet -->
        <link rel="stylesheet" href="/assets/main.css">
    </head>
    <body>
        <div class="header">Exquisitor</div>

        <div class="content">
            <div class="search-bar">
                <input type="text" class="search" placeholder="Experiment identifier"/>
                <button>Search</button>
            </div>

            <div class="last">
                <h1>Last experiments</h1>
                {% for experiment in experiments %}
                    {{ experiment.name }}
                {% endfor %}
            </div>
        </div>
    </body>
</html>
